@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* custom theme settings */
@theme {
	/* custom font */
	--font-rubik: 'Rubik', sans-serif;

	/* custom color variables */
  --color-white: rgb(255,255,255);
	--color-black: rgb(0,0,0);
	--color-grey-500: rgb(98, 108,127);
	--color-grey-50: rgb(244, 246, 250);
	--color-blue-950: rgb(45, 57, 73);
	--color-blue-900: rgb(49, 62, 81);
	--color-blue-850: rgb(59, 77, 102);
	--color-blue-500: rgb(48, 106, 255);
	--color-blue-300: rgb(171, 193, 225);
	--color-blue-100: rgb(237, 241, 249);
	--color-blue-50: rgb(235, 240, 255);
	--color-green-500: rgb(47, 216, 135);
	--color-green-100: rgb(224, 253, 239);
	--color-purple-600: rgb(167, 41, 245);
	--color-purple-100: rgb(246, 231, 255);
	--color-orange-400: rgb(255, 126,53);
	--color-orange-50: rgb(255, 245, 237);
	--color-red-500: rgb(238, 84, 84);
}

 @layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* For Firefox. */
    * {
        scrollbar-width: none;
    }

    /* For WebKit (Chrome & Safari). */
    ::-webkit-scrollbar {
        display: none;
    }
}

  .container{
		&:before{
			content: "";
			@apply 
				bg-[url('/src/assets/images/pattern-background-mobile-light.svg')] 
				bg-no-repeat
				absolute
				top-0
				left-0
				w-full
				h-full
				bg-contain
				z-[0];
		} 
		@media only screen and (width >= 768px){
			&:before{
			content: "";
			@apply 
				bg-[url('/src/assets/images/pattern-background-tablet-light.svg')] 
				w-[75%]
				translate-x-[-15%];
		} 
		}
		@media only screen and (width >= 1024px){
			max-width: 1440px;
			&:before{
			content: "";
			@apply 
				bg-[url('/src/assets/images/pattern-background-desktop-light.svg')] 
				absolute
				w-[1440px]
				h-[960px]
				translate-x-0;
		} 
		}
		&.dark{
			&:before{
				content: "";
				@apply 
					bg-[url('/src/assets/images/pattern-background-mobile-dark.svg')] 
					bg-no-repeat
					absolute
					top-0
					left-0
					w-full
					h-full
					bg-contain
					z-[0];
			} 
			@media only screen and (width >= 768px){
				&:before{
				content: "";
				@apply 
					bg-[url('/src/assets/images/pattern-background-tablet-dark.svg')] 
					w-[75%]
					translate-x-[-15%];
			} 
			}
			@media only screen and (width >= 1024px){
				max-width: 1440px;
				&:before{
				content: "";
				@apply 
					bg-[url('/src/assets/images/pattern-background-desktop-dark.svg')] 
					absolute
					w-[1440px]
					h-[960px]
					translate-x-0;
			} 
			}
		}
  }

	#toggle-switch {
		&::after {
			content: "";
			@apply absolute h-[12px] w-[12px]  bg-white rounded-full top-1/2 left-1 transition-transform duration-200 ease-in-out -translate-y-1/2;
		}
		&:checked::after {
			@apply translate-x-3;
		}
	}

